body {
    background-color: rgb(163, 163, 163);
}

a h1 {
    color: rgb(0, 54, 102);
    text-decoration: none;
}

a h1:hover {
    color: aliceblue;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    size: 12px;
}

a.cantidad {
    color: rgb(250, 92, 0);
}

section .contenido {
    font-size: 30px;
    text-decoration-line: none;
}

#header {
    background-color: black;
    box-shadow: 3px;
}

.navbar {
    font-size: 18px;
    text-decoration: dotted;
}

i {
    color: rgb(255, 255, 255);
    font-size: 30px;
}