body {
    background-color: rgb(163, 163, 163);
}

a {
    color: rgb(72, 63, 153);
    text-decoration-line: none;
}

a h1:hover {
    color: aliceblue;
}

a.cantidad {
    color: rgb(233, 233, 233);
}

section.contenido {
    font-size: 30px;
    text-decoration-line: none;
}

#header {
    background-color: black;
    box-shadow: 3px;
}

.navbar {
    display: flexbox;
    font-size: 18px;
    text-decoration: none;
    border: solid 3px;
}

.dropdown-menu {
    padding: 0;
}

.categoria {
    display: grid;
    text-align: center;
    background-color: rgb(133, 133, 133);
    border-radius: 4px;
}

div.categoria a {
    margin-bottom: 8px;
    background-color: rgb(133, 133, 133);
}

.container {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-body {
    border-top: solid 5px;
    background-color: rgb(192, 214, 205);
}

.cart {
    margin-bottom: 10px;
}

.card {
    border: solid 5px;
}

i {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.card-img-center {
    margin-top: 180px;
}

div.cartimg {
    max-width: 80px;
}

.detail {
    height: 250px;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

.detalle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    background-color: rgb(90, 112, 153);
    font-family: monospace;
    text-align: center;
}

.preciocount {
    background-color: rgb(163, 163, 163);
    display: grid;
    justify-content: center;
    align-items: center;
}

.itemcarro {
    background-color: #ffffff;
    display: grid;
    margin-top: 40px;
    border: solid 5px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 8px;
}

.bodycarrito {
    display: flex;
    justify-content: center;
}

.titulocarro {
    display: flex;
    justify-content: center;
    text-align: left;
}

.footercarro {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.borrarItem {
    display: grid;
    align-items: flex-end;
}