body {
    background-color: brown;
}

h1 {
    color: rgb(250, 253, 255);
    text-decoration: none;
}

section .contenido {
    font-size: 30px;
    text-decoration-line: none;
}

#header {
    background-color: black;
    box-shadow: 3px;
}

nav p {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

i {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

li {
    color: aliceblue;
}